body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.headerNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: blueviolet;
}

.navItems {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px;
  
}

.headerImg {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.9;
  
}

.headerImg img {
  width: 100%;
  margin: auto;
  height: auto;
  
}

.headerImg h1 {
  position: absolute;
  top: 20px;
  left: 65vw;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 100px;
  color:white;
  text-decoration: underline;
}

