body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: black;
}

.headerNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: blueviolet;
}

.navItems {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px;
  
}

.headerImg {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;  
}

.headerImg img {
  width: 100%;
  margin: auto;
  height: auto;
  opacity: .5;  
}

.headerImg h1 {
  position: absolute;
  top: 20px;
  right: 5vw;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 100px;
  color:white;
}

